body {
  margin: 0;
  overflow: hidden;
}

#instructions {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 24px;
  user-select: none;
  z-index: 1;
}
